# Python Bootcamp

## Displaying output

Python has a print() command for displaying output.

In [4]:
print("Hello, world!")

Hello, world!

Since we're using Jupyter notebooks, the cells will also display the value of the last line.

In [8]:
4.2

4.2

## Variables

Variables store value. It can be assigned and reassigned. We can store different types of values as we shall see later. 

To start, let's create variables and assign integers to them.

In [1]:
a = 1
a

1

In [2]:
b = 2
b

2

Since are variables store numbers, we can apply math operations on them

In [3]:
c = a + b
c

3

We can assign new values to our variables

In [30]:
a = 2
a

2

In [5]:
c = a + b
c

4

In [32]:
a = 1
b = a
a = 5
b = a
c + b

9

#### Remember: Variables are case-sensitive!

In [7]:
var = 1
Var = 2

In [8]:
var

1

In [9]:
Var

2

In [10]:
vAr = var + Var
vAr

3

## Comments

<img src="images/onlygodknows.jpg" width=300>
Comment help our code become more readable and remind us why we coded it the way we did.

'#' is a special character that starts a comment until the end of the line. We'll use comments from now on to help explain the code

## Math operations

Basic math operations like addition, subtraction, multiplication, division, and exponents are supported.

In [59]:
a = 5
print('a =', a)

# arithmetic
# addition
c = a + 2 # integer
print('a + 2 =', c)


# subtraction
c = a - 2 # integer
print('a - 2 =',c)

# multiplication
c = a * 2
print('a * 2 = ', c)

# division
c = a / 2
print('a / 2 =', c)

# squared
c = a ** 2
print('a ** 2 =',c)

a = 5
a + 2 = 7
a - 2 = 3
a * 2 =  10
a / 2 = 2.5
a ** 2 = 25

## Data Types

Python has numerous built-in data types which are documente here: https://docs.python.org/3/library/datatypes.html

Let's look at the data types of some of our variables

In [60]:
# data types
print(a, type(a))

print(c, type(c))

s = "hello"
print(s, type(s))

5 <class 'int'>
25 <class 'int'>
hello <class 'str'>

#### Hint: Can do assignment and math operation in a single like with +=, -=, *=, /=.

In [15]:
print(a)
a = a + 1
print(a)

5
6

In [16]:
print(a)
a += 1
print(a)

6
7

In [17]:
print(a)
a *= 2
print(a)

7
14

In [18]:
print(a)
print(type(a)) # we expect this to be int
a /= 2
print(a)
print(type(a)) # we expect this to be int

14
<class 'int'>
7.0
<class 'float'>

## Casting

We can convert between data types using these functions.

In [19]:
# casting into integer
print("casting")
print(int(3.0))
print(int(9/5))
print(float(3))
print(str(3))
print(int("3"))
print(float("3.0"))

2
1.5
1
1.8
1
casting
3
1
3.0
3
3
3.0

In [20]:
print(float("3"))

3.0

In [9]:
print(int("3.0")) #RETURNS AN ERROR!

ValueError: invalid literal for int() with base 10: '3.0'

## String Operations

In [11]:
# arithmetic operations for strings
s1 = "hello"
s2 = " "
s3 = "world"
s4 = s1 + s2 + s3
print(s4)

hello world

In [12]:
s5 = s1 * 3
print(s5)

hellohellohello

In [62]:
s6 = s5 + 3 #RETURNS AN ERROR

TypeError: can only concatenate str (not "int") to str

## Boolean

True and False values are called booleans

In [26]:
a = True
b = False
print(a)
print(b)

True
False

We can test for boolean and variable equality with '==' and '!=' for inequality.

In [27]:
a = 1
b = 1

a == b

True

In [28]:
a = 1
b = 2

a == b

False

In [29]:
a = 1
b = 1
(a == b) == True

True

In [30]:
true = True
true

True

In [31]:
a = 1
b = 2
(a == b) == False

True

### Fun stuff with booleans

In [32]:
a = 1
b = True
a == b

True

In [33]:
print(type(a))
print(type(b))

<class 'int'>
<class 'bool'>

In [34]:
print(1 == True)
print(0 == False)

True
True

In [35]:
print(int(True))
print(int(False))

1
0

In [36]:
print(bool(1))
print(bool(0))

True
False

## None values

None means 'no value'. Equivalent of 'null' in other languages.

In [17]:
a = None # there's no value to put
print(a)

None

In [18]:
None == 0

False

## Functions

Functions allow us to encapsulate code so that it can be run repeatedly. They can receive input values (called arguments) and return output values, although both are optional.


Python has lots of built-in functions, and we can create our own too.

In [22]:
# built-in functions
print("a") # it processes "a" and outputs on the notebook "a".

a

## Making our own functions

To define a function use the "def" keyword followed by the function name, and then open and close parenthesis which may contain the arguments.

Note: Variables defined in the function are only available within the function and isolated from the rest of the code

In [39]:
def add(a, b, c):
  d = a + b + c
  return d

In [40]:
add(1, 2, 3)

6

Returning multiple values

In [41]:
#x^3 + 2x^2 - x/2 + 3
#1/x
def poly(x):
    p1 = x**3 + 2 * (x**2) - (1/2) * x + 3
    p2 = 1/x
    return (p1, p2)

In [44]:
x = 3
c = poly(x)
print(c)
type(c)

(46.5, 0.3333333333333333)

tuple

## If-Elif-Else

Conditional statements like If-else allow us to control which part of the code runs depending on the scenario. The keywords are 'if', 'elif', and 'else'

The condition in the if statement should be a boolean value.

In [50]:
its_raining = True

if its_raining:
    print("it's raining")
else:
    print("it's not raining")

it's raining

In [59]:
def assess_temp(temp):
    """
    returns an assessment of the temperature
    arguments:
        temp - int/float in Celsius
    returns
        string of assessment
    """
    if temp < 20:
        s = "it's cold!"
    elif temp >= 20 and temp < 30:
        s = 'perfect temperature'
    else: # same as elif temp >= 30
        s = "it's too hot!"
    return s

In [60]:
temp = 40 # degrees Celsius
print(assess_temp(temp))

temp = -1 # degrees Celsius
print(assess_temp(temp))

temp = 25 # degrees Celsius
print(assess_temp(temp))

it's too hot!
it's cold!
perfect temperature

## Booloean logic and, or

In [63]:

x = 2
if x < 3 and x > 1:
    print("x between 1 and 3")

x between 1 and 3

## Strings

Strings can be define using single quotes, double quotes, and triple quotes.

In [92]:
print("I'm going to school")
print('I\'m going to school')

I'm going to school
I'm going to school

In [66]:
s = """
use triple quotation marks
  if multiple lines 
  "quote"
"""
print(s)

use triple quotation marks
  if multiple lines
  "quote"

## Indexing string characters

Strings can be thought of as lists of characters. They can be indexed as such.

In [68]:
s = "hello_world"
# indexing
print(s[0]) # Python indices start at 0! Python starts counting from 0
print(s[3])

h
l

Count from 0!

In [69]:
# SLICING
print(s[0:3]) # get the 1st, 2nd, 3rd index -> 0, 1, 2
print(s[:3]) # get the 1st, 2nd, 3rd index -> 0, 1, 2
print(s[0:5]) # get the 1st element up the fifth -> 0, 1, 2, 3, 4
print(s[1:6]) # get the 2nd up to the 6th -> 1, 2, 3, 4, 5

hel
hel
hello
ello_

In [70]:
# 3rd character up to the 7th character
print(s[2:7]) # 2, 3, 4, 5, 6

# 8th character up to index = 10
print(s[7:11]) # index 7 = 8th character, -> 7, 8, 9, 10

llo_w
orld

In [72]:
print(s[10])
print(s[-1])
print(s[-2])
print(s[-2:]) # get the last 2 characters
print(s[:-2]) # get all characters except the last 2
print(s[0:-2]) # get all characters except the last 2

d
d
l
ld
hello_wor
hello_wor

## Useful String functions

See https://www.w3schools.com/python/python_ref_string.asp

In [73]:
print("hello world".upper())
print("HELLO world".lower())
print("HELLO world".title())
print("HELLO world".startswith("HELLO"))
print("HELLO world".endswith("world"))
print("HELLO world".replace("world", "wild"))
print("  HELLO world ".lstrip())
print("  HELLO world ".rstrip())
print("  HELLO world ".strip())

HELLO WORLD
hello world
Hello World
True
True
HELLO wild
HELLO world
  HELLO world
HELLO world

In [74]:
# joining a list into a string
l = ["hello", "world", "yes"]
s = "-".join(l)
s

'hello-world-yes'

### Variables can be incorporated into strings in different ways.

In [76]:
# incorporate a variable inside a string
a = 1
b = 2
c = 3
d = 4
s1 = f"The variables are {a}, {b}, {c}, {d}" # Python 3.6+
s2 = "The variables are {}, {}, {}, {}".format(a, b, c, d)
s3 = "The variables are %s, %s, %s, %s " % (a, b, c, d)
s4 = "The variables are " + str(a) + ", " + str(b) + ", " + str(c) + ", " + str(d)

print(s1)
print(s2)
print(s3)
print(s4)

The variables are 1, 2, 3, 4
The variables are 1, 2, 3, 4
The variables are 1, 2, 3, 4
The variables are 1, 2, 3, 4

### Splitting strings

In [81]:
# splitting a string by a character
s = "hello world"
print(s.split(" "))

s = "hello-world"
print(s.split("-"))

s = "this is 1 sentence. this is another sentence"
print(s.split("."))

['hello', 'world']
['hello', 'world']
['this is 1 sentence', ' this is another sentence']

## The important data structures: Lists, Tuples, Dictionaries, and Sets

## Lists 

### Group of values that are ordered and mutable - can add/remove/change elements

In [63]:
l = [1, 1, 2, 2, 3]
print(type(l), l)

<class 'list'> [1, 1, 2, 2, 3]

In [82]:
l = ["a", "b", "c"]
# slice - get certain elements at certain indices
# 1st 2 elements
print(l[:2])
print(l[-1])

['a', 'b']
c

#### Adding an element to a list

In [64]:
# appending elements to l
l = ["a", "b", "c"]
l.append('d')
l.append('e')
l += ['f'] 
l

['a', 'b', 'c', 'd', 'e', 'f']

#### We can change the value of an index in a list

In [65]:

l[0] = '1'
l

['1', 'b', 'c', 'd', 'e', 'f']

## Tuples

### Groups of values that ordered and immutable.

In [68]:
# tuples - immutable, fixed
# lists - mutable, can be changed
# append an element to l
t = ("a", "b", "c")
t += ('d',)
t += ('e',)
t

('a', 'b', 'c', 'd', 'e')

In [51]:
t = ("a", "b", "c")
# slice - get certain elements at certain indices
# 1st 2 elements
print(t[:2])
print(t[-1])

('a', 'b')
c

#### We CANNOT change the existing values

In [52]:
t[0] = 'A' # RETURNS AN ERROR

TypeError: 'tuple' object does not support item assignment

## Checking if an element exists in a tuple or a list

In [69]:
print(l)
print('A' in l)

print(t)
print('a' in t)

['1', 'b', 'c', 'd', 'e', 'f']
False
('a', 'b', 'c', 'd', 'e')
True

## Removing an element

In [73]:
l = ['A', 'b', 'c', 'd', 'e']
l.remove('A')
print(l)

# remove - only removes the 1st instance
l = ['A', 'b', 'A', 'c', 'd', 'e']
l.remove('A')
print(l)

l = ['a', 'b', 'c', 'd', 'e']
del l[1]
print(l)

['b', 'c', 'd', 'e']
['b', 'A', 'c', 'd', 'e']
['a', 'c', 'd', 'e']

#### We cannot remove specific elements from a tuple

In [91]:
t = ('A', 'b', 'c', 'd', 'e')
t.remove('A') #RETURNS AN ERROR

AttributeError: 'tuple' object has no attribute 'remove'

## Copies and References

In [93]:
# a is not affected if we add 1 to b
a = 1
b = a # here, b points to 1, and a points to "different" 1
b += 1
print(a)
print(b)

1
2

In [94]:
# will the same thing happen for lists?
a = [1]
b = a # variables will end up pointing at the same thing
b += [2]
print(a)
print(b)

[1, 2]
[1, 2]

In [95]:
# what if you only want a copy containing the same elements?
a = [1]
b = a.copy() # this creates a new, different [1] that b points to
b += [2]
print(a)
print(b)

[1]
[1, 2]

There are certain objects like lists where two variables can point to the same thing and changing one will change the other.

There are other objects like integers that are rather independent such that changing one will not affect the other

## Loops

### For Loop

We can loop through the elements of a list or tuple using the "for...in" keyword

In [76]:
values = [10, 5, 0, 5, 10, 20, 25, 30, 35] # iterable

running_total = 0
for val in values: # for each value in the list
    running_total += val
    print(running_total)

10
15
15
20
30
50
75
105
140

### While Loops

Another way of looping

In [112]:
# stop and print ("Alarm!") if False is encountered
bool_list = [True, True, True, True, True, True, False, True, True]
index = 0 # define an initial index/counter
while True:
  b = bool_list[index]
  if b is False:
    print(f"Alarm at index {index}")
    break # this breaks the loop
  index += 1

Alarm at index 6

In [113]:
index = 0 # define an initial index/counter
while index < len(bool_list):
  b = bool_list[index]  
  if b is False:
    print(f"Alarm at index {index}")
    break # this breaks the loop
  index += 1

Alarm at index 6

### Map

Map applies a function to all elements in a list

In [81]:
def square(x):
  return x**2
square(2)

l = [1,2,3,4,5]
squared = list(map(square, l))
squared

[1, 4, 9, 16, 25]

## Dictionary

### key:value pair of values

In [114]:
# key-value pair
# each key must be unique
d = {"a":1, "b":2}
print(d)
print(d['a'])
print(d['b'])

{'a': 1, 'b': 2}
dict_keys(['a', 'b'])
1
2

In [83]:
d = {"a":1, "b":2, "b":3, "b":4} # problem - multiple same keys
print(d)
print(d['a'])
print(d['b'])

print(d.keys())

{'a': 1, 'b': 4}
1
4
dict_keys(['a', 'b'])

#### Keys can be strings, integers, floats. Values can be anything

In [116]:
#integer key, integer value
d = {0:1, 1:2, 2:3}
print(d)
print(d.keys())
print(d[0])
print(d[1])

{0: 1, 1: 2, 2: 3}
dict_keys([0, 1, 2])
1
2

In [117]:
#integer key, string value
d = {0:'1', 1:'2', 2:'3'}
print(d)
print(d.keys())
print(d[0])
print(d[1])

{0: '1', 1: '2', 2: '3'}
dict_keys([0, 1, 2])
1
2

In [85]:
#integer key, list value
d = {0:['1'], 1:['2'], 2:['3','4']}
print(d)
print(d.keys())
print(d[0])
print(d[2])

{0: ['1'], 1: ['2'], 2: ['3', '4']}
dict_keys([0, 1, 2])
['1']
['3', '4']

#### Values don't have to be all the same type!

In [86]:
#mixed type values
d = {0:3.14, 1:42, 2:'3', 3:[1, 2, 3]} 
print(d)
print(d.keys())
print(d[0])
print(d[1])
print(d[2])
print(d[3])

{0: 3.14, 1: 42, 2: '3', 3: [1, 2, 3]}
dict_keys([0, 1, 2, 3])
3.14
42
3
[1, 2, 3]

In [89]:
# cannot use lists, dicts, and sets as keys
d = {[1, 2]:1, [2, 3]:2, [4]:3} #RETURNS AN ERROR

TypeError: unhashable type: 'list'

#### Adding and changing dictionary values

In [131]:
# add another key with a given value
# 0:'hello'
d[0] = "hello"
print(d)

# change 'a' to 2
d['a'] = 2
print(d)

{'a': 1, 'b': 2, 'hello': 'world', 'list_var': [1, 2, 3], 'pi': 3.14, 0: 'hello'}
{'a': 2, 'b': 2, 'hello': 'world', 'list_var': [1, 2, 3], 'pi': 3.14, 0: 'hello'}

In [132]:
len(d) # number of key-value pairs

6

In [133]:
# show the different values
d.values()

dict_values([2, 2, 'world', [1, 2, 3], 3.14, 'hello'])

### Iterating through a dictionary

In [91]:
# this just iterates the keys
for i in d:
    print(i)

0
1
2
3

In [90]:
# what if you want to show the values and keys
for k in d:
    v = d[k]
    print('key:', k, 'value:', v)

key: 0 value: 3.14
key: 1 value: 42
key: 2 value: 3
key: 3 value: [1, 2, 3]

## Exercises

### Functions, If-Else, Loops

Create a function that calculates the area of a circle given a radius. $\pi * r^2$.

Use $\pi = 3.1416$

In [142]:
def area_circle(r):
    a = 3.1416 * (r**2)
    return a

In [143]:
area_circle(2)

12.5664

Generate a list of 10 positive numbers corresponding to the radii of circles

In [144]:
radii = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Using a for loop - iterate through the list of values to compute the area for each value. The output is a list of areas

In [145]:
areas = []
for r in radii:
    a = area_circle(r)
    areas.append(a)

areas

[3.1416,
 12.5664,
 28.2744,
 50.2656,
 78.53999999999999,
 113.0976,
 153.9384,
 201.0624,
 254.46959999999999,
 314.15999999999997]

Incorporate an If-else logic that will 
* check if the value is a positive number
* If the value is a positive number, return the area
* If the value is a negative number or 0, return None and print "radius must be a positive number!"

In [149]:
def area_circle_v2(r):
    if r > 0: # positive
        a = 3.1416 * r**2
    else: # all negative, 0
        a = None
        print("radius must be a positive number!")
    return a

In [150]:
print(area_circle_v2(-1))
print(area_circle_v2(0))
print(area_circle_v2(1))

radius must be a positive number!
None
radius must be a positive number!
None
3.1416

Run your function over this list:
[-3, -2, 0, 1, 2, 3, 4, 5, 6]

In [151]:
radii = [-3, -2, 0, 1, 2, 3, 4, 5, 6]

areas = list(map(area_circle_v2, radii))
areas

radius must be a positive number!
radius must be a positive number!
radius must be a positive number!

[None,
 None,
 None,
 3.1416,
 12.5664,
 28.2744,
 50.2656,
 78.53999999999999,
 113.0976]