# Pandas Continuation

In this notebook, we'll cover the following topics:

- Aggregation
- Merging
- GroupBy Operations
- Other Data Transformation Concepts

For each topic, we'll look at the concept definition, syntax, arguments, and examples. We'll also include exercise cells with answer keys.

## Aggregation

### Concept Definition

Aggregation in Pandas refers to any data transformation that produces scalar values from arrays. In simpler terms, it's a way to summarize your data. For example, you can calculate the sum, mean, maximum, minimum, etc., of a DataFrame or Series.

### Syntax and Arguments

The basic syntax for aggregation functions in Pandas is:

```python
DataFrame.agg(func, axis=0, *args, **kwargs)
```

- `func`: Function to use for aggregating the data. Can be a function, string, dictionary, or list of strings/functions.
- `axis`: {0 or ‘index’, 1 or ‘columns’}, default 0.
- `*args, **kwargs`: Positional and keyword arguments to pass to `func`.

Let's see some examples.

In [ ]:
# Importing necessary libraries
import pandas as pd
from sklearn.datasets import load_iris

# Loading the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(iris['data'], columns=iris['feature_names'])

# Basic aggregation: Mean of each column
iris_df.agg('mean') #aggregate over the rows for each column

### Exercise: Aggregation

#### Problem Statement

You are given the Iris dataset. Your task is to calculate the following aggregate values for each feature:

- Mean
- Minimum
- Maximum

#### Instructions

1. Use the `agg` function to calculate the mean, minimum, and maximum for each feature in the Iris dataset.

2. Store the result in a DataFrame.

In [ ]:
# Possible Answer to Exercise: Aggregation

# Using the agg function to calculate mean, min, and max for each feature
agg_result = iris_df.agg(['mean', 'min', 'max'])
agg_result

## Merging

### Concept Definition

Merging in Pandas refers to combining different data sets by linking rows using one or more keys. It's similar to SQL joins.

### Syntax and Arguments

The basic syntax for merging in Pandas is:

```python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False)
```

- `left`: DataFrame to be merged on the left side.
- `right`: DataFrame to be merged on the right side.
- `how`: Type of merge to be performed. Options are 'left', 'right', 'outer', and 'inner'. Default is 'inner'.
- `on`: Column(s) to join on. Must be found in both DataFrames.
- `left_on`: Column(s) from the left DataFrame to use as keys.
- `right_on`: Column(s) from the right DataFrame to use as keys.
- `left_index`: Use the index from the left DataFrame as the join key(s).
- `right_index`: Use the index from the right DataFrame as the join key(s).

Let's see some examples.

In [ ]:
# Creating sample DataFrames for merging
left_df = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value_left': range(4)})
right_df = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value_right': range(4, 8)})

# Basic merging: Inner join
merged_inner = pd.merge(left_df, right_df, on='key')
merged_inner

### Exercise: Merging

#### Problem Statement

You are given two DataFrames, `df1` and `df2`. Your task is to merge them using different types of joins.

Here are the DataFrames to start with:

```python
df1 = pd.DataFrame({'key': ['X', 'Y', 'Z'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['X', 'A', 'B'], 'value2': [4, 5, 6]})
```

#### Instructions

1. Perform an inner join on the `key` column and store the result in a DataFrame.

2. Perform an outer join on the `key` column and store the result in a DataFrame.

3. Perform a left join using `df1` and a right join using `df2` on the `key` column. Store the results in separate DataFrames.

In [ ]:
# Possible Answer to Exercise: Merging

# Creating the sample DataFrames
df1 = pd.DataFrame({'key': ['X', 'Y', 'Z'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['X', 'A', 'B'], 'value2': [4, 5, 6]})

# Performing an inner join
merged_inner_ex = pd.merge(df1, df2, on='key')

# Performing an outer join
merged_outer_ex = pd.merge(df1, df2, on='key', how='outer')

# Performing a left join
merged_left_ex = pd.merge(df1, df2, on='key', how='left')

# Performing a right join
merged_right_ex = pd.merge(df1, df2, on='key', how='right')

merged_inner_ex, merged_outer_ex, merged_left_ex, merged_right_ex

(  key  value1  value2
 0   X       1       4,
   key  value1  value2
 0   X     1.0     4.0
 1   Y     2.0     NaN
 2   Z     3.0     NaN
 3   A     NaN     5.0
 4   B     NaN     6.0,
   key  value1  value2
 0   X       1     4.0
 1   Y       2     NaN
 2   Z       3     NaN,
   key  value1  value2
 0   X     1.0       4
 1   A     NaN       5
 2   B     NaN       6)

## GroupBy Operations

### Concept Definition

The `groupby` method in Pandas allows us to split data into groups based on some criteria, apply a function to each group independently, and then combine the results.

### Syntax and Arguments

The basic syntax for `groupby` operations in Pandas is:

```python
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False)
```

- `by`: Mapping, function, label, or list of labels to group by.
- `axis`: {0 or ‘index’, 1 or ‘columns’}, default 0.
- `level`: If the axis is a MultiIndex, group by a particular level or levels.
- `as_index`: Whether to group by the index instead of the columns.
- `sort`: Sort group keys.
- `group_keys`: When calling `apply`, add group keys to the index to identify pieces.
- `squeeze`: Reduce the dimensionality of the return type if possible.
- `observed`: Only relevant for Categorical data types.

Let's see some examples.

In [ ]:
# Creating a sample DataFrame for groupby operations
groupby_df = pd.DataFrame({'Category': ['Fruit', 'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
                           'Item': ['Apple', 'Carrot', 'Banana', 'Broccoli', 'Cherry'],
                           'Price': [1.2, 0.8, 1.1, 1.5, 2.0]})

# Basic groupby: Mean price by category
grouped_mean = groupby_df.groupby('Category').agg({'Price': 'mean'})
grouped_mean

### Exercise: GroupBy Operations

#### Problem Statement

You are given a DataFrame, `sales_df`, that contains sales data for a supermarket. The DataFrame has the following columns:

- `Product`: The name of the product
- `Category`: The category of the product (e.g., 'Grocery', 'Electronics')
- `Revenue`: The revenue generated from the sale of the product

Here's a sample DataFrame to start with:

```python
sales_df = pd.DataFrame({
    'Product': ['Milk', 'Bread', 'Eggs', 'Laptop', 'Phone'],
    'Category': ['Grocery', 'Grocery', 'Grocery', 'Electronics', 'Electronics'],
    'Revenue': [20, 30, 15, 200, 180]
})
```

#### Instructions

1. Use the `groupby` method to find the total revenue for each category.

2. Use the `groupby` method to find the average revenue for each category.

3. Store the results in separate DataFrames.

In [ ]:
# Possible Answer to Exercise: GroupBy Operations

# Creating the sample DataFrame
sales_df = pd.DataFrame({
    'Product': ['Milk', 'Bread', 'Eggs', 'Laptop', 'Phone'],
    'Category': ['Grocery', 'Grocery', 'Grocery', 'Electronics', 'Electronics'],
    'Revenue': [20, 30, 15, 200, 180]
})

# Using groupby to find the total revenue for each category
total_revenue = sales_df.groupby('Category').agg({'Revenue': 'sum'})

# Using groupby to find the average revenue for each category
average_revenue = sales_df.groupby('Category').agg({'Revenue': 'mean'})

total_revenue, average_revenue

(             Revenue
 Category
 Electronics      380
 Grocery           65,
                 Revenue
 Category
 Electronics  190.000000
 Grocery       21.666667)

## Other Data Transformation Concepts

### Concept Definition

Apart from aggregation, merging, and groupby operations, Pandas offers various other data transformation techniques. These include:

- `pivot`: Reshape data where rows become columns.
- `melt`: Reshape data where columns become rows.
- `stack`: Pivot a level of column labels to the row index.
- `unstack`: Pivot a level of the row index to the column index.

Let's briefly look at the syntax and examples for these.

In [ ]:
# Creating a sample DataFrame for data transformation
transform_df = pd.DataFrame({'A': ['one', 'one', 'two', 'two'],
                             'B': ['a', 'b', 'a', 'b'],
                             'C': [1, 2, 3, 4]})

# Using pivot to reshape the data
pivoted_df = transform_df.pivot(index='A', columns='B', values='C')

# Using melt to reshape the data
melted_df = pd.melt(transform_df, id_vars=['A'], value_vars=['B', 'C'])

# Using stack to reshape the data
stacked_df = transform_df.set_index(['A', 'B']).stack()

# Using unstack to reshape the data
unstacked_df = stacked_df.unstack()

pivoted_df, melted_df, stacked_df, unstacked_df

(B    a  b
 A
 one  1  2
 two  3  4,
      A variable value
 0  one        B     a
 1  one        B     b
 2  two        B     a
 3  two        B     b
 4  one        C     1
 5  one        C     2
 6  two        C     3
 7  two        C     4,
 A    B
 one  a  C    1
      b  C    2
 two  a  C    3
      b  C    4
 dtype: int64,
        C
 A   B
 one a  1
     b  2
 two a  3
     b  4)

### Exercise: Data Transformation

#### Problem Statement

You are given a DataFrame, `temp_df`, that contains temperature data for different cities and days. The DataFrame has the following columns:

- `City`: The name of the city
- `Day`: The day of the week
- `Temperature`: The temperature in Celsius

Here's a sample DataFrame to start with:

```python
temp_df = pd.DataFrame({
    'City': ['NY', 'NY', 'NY', 'SF', 'SF', 'SF'],
    'Day': ['Mon', 'Tue', 'Wed', 'Mon', 'Tue', 'Wed'],
    'Temperature': [30, 32, 31, 20, 22, 21]
})
```

#### Instructions

1. Use the `pivot` method to reshape the data so that the days are columns, and each city has a row.

2. Use the `melt` method to reshape the data back to its original form.

3. Store the results in separate DataFrames.

In [ ]:
# Possible Answer to Exercise: Data Transformation

# Creating the sample DataFrame
temp_df = pd.DataFrame({
    'City': ['NY', 'NY', 'NY', 'SF', 'SF', 'SF'],
    'Day': ['Mon', 'Tue', 'Wed', 'Mon', 'Tue', 'Wed'],
    'Temperature': [30, 32, 31, 20, 22, 21]
})

# Using pivot to reshape the data
pivoted_temp_df = temp_df.pivot(index='City', columns='Day', values='Temperature')

# Using melt to reshape the data back to its original form
melted_temp_df = pd.melt(pivoted_temp_df.reset_index(), id_vars=['City'], value_vars=['Mon', 'Tue', 'Wed'])

pivoted_temp_df, melted_temp_df

(Day   Mon  Tue  Wed
 City
 NY     30   32   31
 SF     20   22   21,
   City  Day  value
 0   NY  Mon     30
 1   SF  Mon     20
 2   NY  Tue     32
 3   SF  Tue     22
 4   NY  Wed     31
 5   SF  Wed     21)

## Inner Join, Left Join, and Right Join

### Concept Definition

Joins in Pandas allow you to combine rows from two or more tables based on a related column between them. Specifically:

- **Inner Join**: Returns records that have matching values in both tables.
- **Left Join (or Left Outer Join)**: Returns all records from the left table, and the matched records from the right table. Unmatched records from the right table will be NULL.
- **Right Join (or Right Outer Join)**: Returns all records from the right table, and the matched records from the left table. Unmatched records from the left table will be NULL.

### Syntax and Arguments

The basic syntax for joins in Pandas is:

```python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False)
```

- `left`: DataFrame to be merged on the left side.
- `right`: DataFrame to be merged on the right side.
- `how`: Type of merge to be performed. Options are 'left', 'right', 'outer', and 'inner'.
- `on`: Column(s) to join on. Must be found in both DataFrames.
- `left_on`: Column(s) from the left DataFrame to use as keys.
- `right_on`: Column(s) from the right DataFrame to use as keys.
- `left_index`: Use the index from the left DataFrame as the join key(s).
- `right_index`: Use the index from the right DataFrame as the join key(s).

Let's see some examples.

In [ ]:
# Creating sample DataFrames for join operations
left_df = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value_left': range(4)})
right_df = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value_right': range(4, 8)})

# Performing an inner join
inner_join_df = pd.merge(left_df, right_df, on='key', how='inner')

# Performing a left join
left_join_df = pd.merge(left_df, right_df, on='key', how='left')

# Performing a right join
right_join_df = pd.merge(left_df, right_df, on='key', how='right')

inner_join_df, left_join_df, right_join_df

### Exercise: Inner, Left, and Right Joins

#### Problem Statement

You are given two DataFrames, `students_df` and `grades_df`. The `students_df` DataFrame contains student IDs and names, while the `grades_df` DataFrame contains student IDs and grades.

Here are the DataFrames to start with:

```python
students_df = pd.DataFrame({'Student_ID': [1, 2, 3, 4], 'Name': ['Alice', 'Bob', 'Charlie', 'David']})
grades_df = pd.DataFrame({'Student_ID': [1, 3, 4, 5], 'Grade': ['A', 'B', 'C', 'D']})
```

#### Instructions

1. Perform an inner join on the `Student_ID` column and store the result in a DataFrame.

2. Perform a left join using `students_df` and a right join using `grades_df` on the `Student_ID` column. Store the results in separate DataFrames.

In [ ]:
# Possible Answer to Exercise: Inner, Left, and Right Joins

# Creating the sample DataFrames
students_df = pd.DataFrame({'Student_ID': [1, 2, 3, 4], 'Name': ['Alice', 'Bob', 'Charlie', 'David']})
grades_df = pd.DataFrame({'Student_ID': [1, 3, 4, 5], 'Grade': ['A', 'B', 'C', 'D']})

# Performing an inner join
inner_join_ex = pd.merge(students_df, grades_df, on='Student_ID', how='inner')

# Performing a left join
left_join_ex = pd.merge(students_df, grades_df, on='Student_ID', how='left')

# Performing a right join
right_join_ex = pd.merge(students_df, grades_df, on='Student_ID', how='right')

inner_join_ex, left_join_ex, right_join_ex

(   Student_ID     Name Grade
 0           1    Alice     A
 1           3  Charlie     B
 2           4    David     C,
    Student_ID     Name Grade
 0           1    Alice     A
 1           2      Bob   NaN
 2           3  Charlie     B
 3           4    David     C,
    Student_ID     Name Grade
 0           1    Alice     A
 1           3  Charlie     B
 2           4    David     C
 3           5      NaN     D)

## Wide to Tall Format (Melting) and Tall to Wide Format (Pivoting)

### Concept Definition

Data can be stored in either a 'wide' or 'tall' format. Converting between these two formats is a common data wrangling task:

- **Wide to Tall (Melting)**: This involves transforming columns into rows. It is useful when you want to make your data tidy for analysis.
- **Tall to Wide (Pivoting)**: This involves transforming rows into columns. It is useful for creating summary tables or easier-to-read reports.

### Syntax and Arguments

#### Melting

```python
pd.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value')
```

- `frame`: DataFrame to be melted.
- `id_vars`: Column(s) to use as identifier variables.
- `value_vars`: Column(s) to melt.
- `var_name`: Name to use for the 'variable' column.
- `value_name`: Name to use for the 'value' column.

#### Pivoting

```python
DataFrame.pivot(index=None, columns=None, values=None)
```

- `index`: Column to set as the index of the resulting DataFrame.
- `columns`: Column to pivot into new columns.
- `values`: Column(s) to use for populating new frame’s values.

Let's see some examples.

In [ ]:
# Creating a sample DataFrame for melting and pivoting
melt_pivot_df = pd.DataFrame({'A': ['foo', 'bar', 'baz'],
                              'B': [1, 2, 3],
                              'C': [4, 5, 6],
                              'D': [7, 8, 9]})

# Melting the DataFrame from wide to tall format
melted_df = pd.melt(melt_pivot_df, id_vars=['A'], value_vars=['B', 'C', 'D'])

# Pivoting the DataFrame from tall to wide format
pivoted_df = melted_df.pivot(index='A', columns='variable', values='value').reset_index()

melted_df, pivoted_df

(     A variable  value
 0  foo        B      1
 1  bar        B      2
 2  baz        B      3
 3  foo        C      4
 4  bar        C      5
 5  baz        C      6
 6  foo        D      7
 7  bar        D      8
 8  baz        D      9,
 variable    A  B  C  D
 0         bar  2  5  8
 1         baz  3  6  9
 2         foo  1  4  7)

### Exercise: Melting and Pivoting

#### Problem Statement

You are given a DataFrame, `sales_data_df`, that contains sales data for different products and quarters. The DataFrame has the following columns:

- `Product`: The name of the product
- `Q1`: Sales for the first quarter
- `Q2`: Sales for the second quarter
- `Q3`: Sales for the third quarter

Here's a sample DataFrame to start with:

```python
sales_data_df = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'TV'],
    'Q1': [200, 220, 250],
    'Q2': [210, 230, 275],
    'Q3': [190, 215, 245]
})
```

#### Instructions

1. Melt the DataFrame from wide to tall format, keeping 'Product' as the identifier variable.

2. Pivot the melted DataFrame back to wide format.

In [ ]:
# Possible Answer to Exercise: Melting and Pivoting

# Creating the sample DataFrame
sales_data_df = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'TV'],
    'Q1': [200, 220, 250],
    'Q2': [210, 230, 275],
    'Q3': [190, 215, 245]
})

# Melting the DataFrame from wide to tall format
melted_sales_df = pd.melt(sales_data_df, id_vars=['Product'], value_vars=['Q1', 'Q2', 'Q3'])

# Pivoting the melted DataFrame back to wide format
pivoted_sales_df = melted_sales_df.pivot(index='Product', columns='variable', values='value').reset_index()

melted_sales_df, pivoted_sales_df

(  Product variable  value
 0  Laptop       Q1    200
 1   Phone       Q1    220
 2      TV       Q1    250
 3  Laptop       Q2    210
 4   Phone       Q2    230
 5      TV       Q2    275
 6  Laptop       Q3    190
 7   Phone       Q3    215
 8      TV       Q3    245,
 variable Product   Q1   Q2   Q3
 0         Laptop  200  210  190
 1          Phone  220  230  215
 2             TV  250  275  245)

## Handling Missing Data

### Concept Definition

Missing data is a common issue in data wrangling. Pandas provides various methods to handle missing data effectively:

- **Drop Missing Values**: Remove rows or columns containing missing values.
- **Fill Missing Values**: Replace missing values with a specific value or using a method like forward fill or backward fill.

### Syntax and Arguments

#### Drop Missing Values

```python
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
```

- `axis`: 0 for rows, 1 for columns.
- `how`: 'any' drops rows/columns with any missing values, 'all' drops rows/columns with all missing values.
- `thresh`: Require that many non-NA values to not drop.
- `subset`: List of columns to consider.
- `inplace`: Modify the DataFrame in place.

#### Fill Missing Values

```python
DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None)
```

- `value`: Scalar or dict value to replace missing values.
- `method`: Method to fill missing values ('ffill' for forward fill, 'bfill' for backward fill).
- `axis`: Axis along which to fill missing values.
- `inplace`: Modify the DataFrame in place.
- `limit`: Maximum number of missing values to fill.

Let's see some examples.

In [ ]:
# Creating a sample DataFrame with missing values
missing_data_df = pd.DataFrame({'A': [1, np.nan, 3],
                                'B': [4, 5, np.nan],
                                'C': [7, 8, 9]})

# Dropping rows with any missing values
dropped_rows_df = missing_data_df.dropna(axis=0, how='any')

# Dropping columns with any missing values
dropped_cols_df = missing_data_df.dropna(axis=1, how='any')

# Filling missing values with zeros
filled_zeros_df = missing_data_df.fillna(0)

# Filling missing values using forward fill
filled_ffill_df = missing_data_df.fillna(method='ffill')

# Filling missing values using backward fill
filled_bfill_df = missing_data_df.fillna(method='bfill')

dropped_rows_df, dropped_cols_df, filled_zeros_df, filled_ffill_df, filled_bfill_df

### Exercise: Handling Missing Data

#### Problem Statement

You are given a DataFrame, `weather_data_df`, that contains weather data with some missing values. The DataFrame has the following columns:

- `Date`: The date of the weather data
- `Temperature`: The temperature in degrees Celsius
- `Rainfall`: The amount of rainfall in mm

Here's a sample DataFrame to start with:

```python
weather_data_df = pd.DataFrame({
    'Date': ['2021-01-01', '2021-01-02', '2021-01-03'],
    'Temperature': [25, np.nan, 27],
    'Rainfall': [0, 5, np.nan]
})
```

#### Instructions

1. Drop the rows with any missing values.

2. Fill the missing values in the `Temperature` column with the mean temperature and in the `Rainfall` column with zero.

In [ ]:
# Possible Answer to Exercise: Handling Missing Data

# Creating the sample DataFrame
weather_data_df = pd.DataFrame({
    'Date': ['2021-01-01', '2021-01-02', '2021-01-03'],
    'Temperature': [25, np.nan, 27],
    'Rainfall': [0, 5, np.nan]
})

# Dropping rows with any missing values
dropped_weather_df = weather_data_df.dropna(axis=0, how='any')

# Filling missing values
filled_weather_df = weather_data_df.copy()
filled_weather_df['Temperature'].fillna(filled_weather_df['Temperature'].mean(), inplace=True)
filled_weather_df['Rainfall'].fillna(0, inplace=True)

dropped_weather_df, filled_weather_df